.play-window {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  box-sizing: border-box;
}

.output-part:nth-child(1),
.input-part:nth-child(2) {
  flex-basis: auto;
}

.output-part {
  flex: 1;
  width: 50%;
  margin-bottom: 15px;
  line-height: 30px;
  display: inline;
}

.input-part {
  flex: 1;
  width: 50%;
  display: inline;
}
